.admin-logout {
    color: white !important;
    text-decoration: none !important;
}

body {
    width: 100%;
}

.modal-details {
    margin-left: 320px !important;
}

#view-order {
    margin-top: 40px;
    margin-left: 120px;
}


.modal {
    /*display: none;*/
    position: fixed;
    z-index: 1000;
    /*padding-top: 100px;*/
    /*overflow: auto;*/
    /*height: 400px;*/
    /*width: 400px;*/
    /*background-color: black;*/
    margin-left: 400px;
    margin-top: 70px;

}

.close {
    /*float: right;*/
    font-weight: bold;
    /*z-index: 1001;*/
    margin-left: 658px;
    border: 1px solid red;
}


/*.modal-close {*/
/*    height: 50px;*/
/*    position: absolute;*/

/*}*/

.close-btn {
    /*float: right;*/
    color: red;
    border: 1px solid red;
}

.close-btn:hover {
    cursor: pointer;
}
