.admin-logout {
    color: white !important;
    text-decoration: none !important;
}

body {
    width: 100%;
}

.modal-details {
    margin-left: 320px !important;
}

#view-order {
    margin-top: 40px;
    margin-left: 120px;
}


.modal {
    /*display: none;*/
    position: fixed;
    z-index: 1000;
    /*padding-top: 100px;*/
    /*overflow: auto;*/
    /*height: 400px;*/
    /*width: 400px;*/
    /*background-color: black;*/
    margin-left: 400px;
    margin-top: 70px;

}

.close {
    /*float: right;*/
    font-weight: bold;
    /*z-index: 1001;*/
    margin-left: 658px;
    border: 1px solid red;
}


/*.modal-close {*/
/*    height: 50px;*/
/*    position: absolute;*/

/*}*/

.close-btn {
    /*float: right;*/
    color: red;
    border: 1px solid red;
}

.close-btn:hover {
    cursor: pointer;
}

.mustang-title .mustag {
    color: #e64034;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Ultra', serif;
    font-size: 30px !important;
    font-style: italic;
    letter-spacing: 5px;
    /*font-weight: bold;*/
}

.mustang-title .cleaners {
    color: #163D83;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Ultra', serif;
    font-size: 40px !important;
    letter-spacing: 5px;

}

.mustang-title {
    text-align: center;
    /*text-decoration: underline;*/
    margin-top: 37px !important;
    margin-bottom: 30px !important;
    /*border: 1px solid black;*/
    padding: 5px !important;
    margin-left: 200px!important;
}

.total_orders {
    background-color: #163D83 !important;
}

.total_income {
    background-color: #e64034;
}

.total_clients {
    background-color: #191e21;
    /*background-color: #163D83 !important;*/

}

.bg-drop {
    background-color: #163D83 !important;
}

.logo-png{
    /*height: 30px!important;*/
    margin-left: 5px;
}
